
.centertext {
    color: white;
    text-align: center;
    padding-left: 400px
}

.arrowicon {
    position: absolute;
    width: 45px;
    height: 40px;
    margin-left: -175px;
    margin-top: 5px;
    background-color: #2f4eb4;
    color: white
}

.journeydetail {
    color: black;
    text-decoration: none
}

.containersize {
    margin-left: 250px
}

.childrendiv {
    border: 1px double rgba(86,61,124,.2);
    width: 850px
}

.color {
    background-color: white
}

.buttonprop {
    background-color: #D23B38;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 5px
}